body{
   margin: 0;
   scroll-behavior: smooth;
   padding: 0;
   background-color: #223d699c !important;
}

nav.navbar{
   background-color:#223d69!important;
   color: #ffff;
}

.books_container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   gap: 20px;
   flex-wrap: wrap;
   margin-top: 80px;
}

.card-header{
   background-color:#223d69 !important;
   font-weight: 600;
}
.price_like{
   display: flex;
   justify-content: space-between;
}

.comment_conent{
  height: 150px;
}

#bookImgContent img{
   width: 150px;
   height: 150px;
   position:relative;
   left:65px;
}

#priceListContent{
   height: 180px;
}

 ::placeholder {
   color: #1872c0; /* Bootstrap Standard für Platzhalter */
 }
 
 textarea{
   height: 30px;
 }
 
 .cursor-pointer{
   cursor: pointer;
 }
 svg{
   color: red;
 }