body {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  background-image: url(./assets/img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav.navbar {
  background-color: #808c52 !important;
}

.books_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 80px;
}
.card {
  background-color: #d9d9d9 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}
.card-header {
  background-color: #808c52 !important;
  font-weight: 600;
}
.price_like {
  display: flex;
  justify-content: space-between;
}
#priceListContent {
  background-color: #ffffff80;
  height: 180px !important;
}

.comment_conent {
  height: 150px;
  scrollbar-color: #b3a895 rgba(115, 182, 113, 0.096);
  scrollbar-width: thin;
  background-color: #1a1919a2 !important;
}

#bookImgContent img {
  width: 100%;
  height: 150px;
  object-fit: cover;

}

#priceListContent {
  height: 180px;
}

::placeholder {
  color: #1872c0; /* Bootstrap Standard für Platzhalter */
}

textarea {
  height: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

textarea {
  background-color: #4a4a4a1c !important;
}

.headline{
  padding-top: 80px;
  padding-bottom: 0;
}